<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
    <servlet-name>PhotoServlet</servlet-name>
    <servlet-class>
      com.ifactory.service.weather.photo.PhotoServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
    <multipart-config>
      <location>/opt/ifactory/photos/repo/</location>
      <file-size-threshold>2097152</file-size-threshold>      
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
    </multipart-config>
  </servlet>

  <servlet-mapping>
    <servlet-name>PhotoServlet</servlet-name>
    <url-pattern>/photo</url-pattern>
  </servlet-mapping>   
  
</web-app>
